.App {
  text-align: center;
}

.usersContent{
  padding: 0 300px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #ebebeb;
  border: 1px solid #ddd;
}